{foreach $tables as $type => $rows}
	<div style="overflow-x: auto;">
		<h3>{_$driver->type() . '.table_type.' . $type. '.title'}</h3>
		<ul>
			<li n:foreach="$rows as $table => $info">
				<a href="{plink Item:default, 'driver' => $driver->type(), 'database' => $actualDatabase, 'type' => $type, 'table' => $table}"><strong n:tag-if="$table == $actualTable">{$table}</strong></a>
			</li>
		</ul>
	</div>
{/foreach}
