{block title}{_'core.errors.error.title'}{/block}

{block content}
	<div class="container">
		<div class="vertical-center text-center">
			<h1>{_'core.errors.error.title'}</h1>
			<h3 class="font-bold">{_'core.errors.error.message'}</h3>

			<div class="error-desc">
				<a n:href="Default:default" class="btn btn-primary m-t">{_'core.errors.go_home'}</a>
			</div>
		</div>
	</div>
