language: php

services:
  - memcached

php:
    - 5.6
    - 7.0
    - 7.1

sudo: false

before_script:
    - sudo apt-get install php-memcache
    - travis_retry composer self-update
    - travis_retry composer install ${COMPOSER_FLAGS} --no-interaction

script:
    - mkdir -p log
    - mkdir -p temp
    - mkdir -p build/logs
    - php vendor/bin/phpcs app tests --standard=PSR2 -n
    - php vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover;
