title: UniMan

yes: Áno
no: Nie

ascending: Vzostupne
descending: Zostupne

add_condition: Pridať podmienku
delete:
    confirm: Ste si istý?

missing_driver: 'Chýba vám driver?'
check_why: 'Skontrolujte prečo.'
drivers_check_title: 'Požiadavky pre jednotlivé drivre'
php_extension: 'PHP rozšírenie'
php_class: 'PHP trieda'

formatter:
    number_format:
        thousands_separator: ' '
        decimal_point: ','

form:
    driver: Driver
    connect: Pripojiť

pagination:
    previous: Predchádzajúca
    next: Ďalšia

filter:
    contains: 'obsahuje'
    not_contains: 'neobsahuje'
    starts_with: 'začína na'
    ends_with: 'končí na'
    is_null: 'je null'
    is_not_null: 'nie je null'
    is_in: 'je z množiny'
    is_not_in: 'nie je z množiny'
