title: Adminer novej generácie

yes: Áno
no: Nie

ascending: Vzostupne
descending: Zostupne

formatter:
	number_format:
		thousands_separator: ' '
		decimal_point: ','

form:
	driver: Driver
	connect: Pripojiť

pagination:
	previous: Predchádzajúca
	next: Ďalšia
