name: Redis

table_types_for_database: 'Kľúče, hashe, sety a listy pre databázu %database%'
no_tables_for_database: 'V datábáze %database% neboli nájdené žiadne kľúče, hashe, sety ani listy'
no_tables_for_type_key: 'Žiadne kľúče'
no_tables_for_type_hash: 'Žiadne hashe'
no_tables_for_type_set: 'Žiadne sety'
no_tables_for_type_list: 'Žiadne listy'

alias_storage_not_writable: 'Do priečinka "%directory%" sa nedá zapisovať'

headers:
    databases:
        database: 'Databáza'
        alias: 'Alias'
        keys: 'Počet kľúčov'
        expires: 'Čas expirácie'
        avg_ttl: 'Priemerný TTL'
    keys:
        key: 'Kľúč'
        value: 'Hodnota'
        length: 'Dĺžka'
        number_of_keys: 'Počet kľúčov'
    hashes:
        key: 'Kľúč'
        number_of_fields: 'Počet polí'
    sets:
        key: 'Kľúč'
        number_of_members: 'Počet členov'
    lists:
        key: 'Kľúč'
        number_of_elements: 'Počet elementov'

database_form_header:
    edit: Úprava databázy

table_form_header:
    hash:
        create: Vytvorenie nového hashu
        edit: Úprava hashu
    key:
        create: Vytvorenie nového kľúča
        edit: Úprava kľúča
    set:
        create: Vytvorenie nového setu
        edit: Úprava setu
    list:
        create: Vytvorenie nového listu
        edit: Úprava listu

item_form_header:
    hash:
        create: Vytvorenie nového kľúča v hashi
        edit: Úprava kľúča v hashi
    key:
        create: Vytvorenie nového kľúča
        edit: Úprava kľúča
    set:
        create: Pridanie kľúča do setu
        edit: Úprava kľúča

table_type:
    hash:
        title: Hashe
        items:
            title: Kľúče
    key:
        title: Kľúče
        items:
            title: Kľúče
    set:
        title: Sety
        items:
            title: Kľúče
    list:
        title: Listy
        items:
            title: Elementy

columns:
    hash:
        key: Kľúč
        length: Dĺžka
        value: Hodnota
    key:
        key: Kľúč
        length: Dĺžka
        value: Hodnota
    set:
        member: Kľúč
        length: Dĺžka
    list:
        index: Index
        element: Element
        length: Dĺžka

form:
    host:
        label: Host
    port:
        label: Port
    database:
        label: Databáza

database_form:
    database:
        label: Databáza
    alias:
        label: Alias
        description: Databázový alias bude zdieľaný pre všetkých používateľov

key_form:
    key:
        label: Kľúč
        required: Kľúč je povinné pole
    value:
        label: Hodnota
        required: Hodnota je povinné pole

item_form:
    key:
        label: Kľúč
        required: Kľúč je povinné pole
    value:
        label: Hodnota

member_form:
    member:
        label: Member
        required: Member je povinný
    message:
        cannot_be_removed: Member sa nedá odstrániť

hash_form:
    key:
        label: Kľúč
        required: Kľúč je povinný
    field:
        label: Pole
        required: Pole je povinné
    value:
        label: Hodnota
        required: Hodnota je povinná
    new_key:
        label: Nový kľúč
        required: Nový kľúč je povinný

set_form:
    key:
        label: Kľúč
        required: Kľúč je povinný
    members:
        label: Members
        required: Members sú povinné
        description: Zadajte čiarkou oddelené

list_form:
    key:
        label: Kľúč
        required: Kľúč je povinný
    elements:
        label: Elementy
        required: Elementy sú povinné
        description: Zadajte čiarkou oddelené

list_element_form:
    element:
        label: Element
        required: Element je povinný

database_select_control:
    database:
        label: Databázy
        prompt: Vyberte databázu
