title: Adminer next generation

yes: 'Yes'
no: 'No'

ascending: Ascending
descending: Descending

missing_driver: Missing driver?
check_why: Check why.
drivers_check_title: 'Drivers requirements'
php_extension: PHP extension
php_class: PHP class

formatter:
	number_format:
		thousands_separator: ','
		decimal_point: '.'

form:
	driver: Driver
	connect: Connect

pagination:
	previous: Previous
	next: Next
