name: Memcache

headers:
	servers:
		server: 'Server'
		process_id: 'Process id'
		uptime: 'Uptime'
		current_items: 'Current items'
		total_items: 'Total items'
		size: 'Size'
		active_slabs: 'Active slabs'
		total_malloced: 'Total malloced'

item_form_header:
	key:
		create: Create new key
		edit: Edit key

table_type:
	key:
		items:
			title: Keys

columns:
	key:
		key: Key
		value: Value
		size: Size
		expiration: 'Expiration (s)'
		compressed: Compressed

form:
	servers:
		label: Servers
		description: 'Each server on new line in format: host:port'

key_form:
	key:
		label: Key
		required: Key is required
	value:
		label: Value
		required: Value is required
	compressed:
		label: Compressed
	expiration:
		label: 'Expiration (s)'

database_select_control:
	database:
		label: Servers
		prompt: Select server
