name: Redis

table_types_for_database: 'Keys, hashes, sets and lists for database %database%'
no_tables_for_database: 'No keys, hashes, sets and lists found for database %database%'
no_tables_for_type_key: 'No keys'
no_tables_for_type_hash: 'No hashes'
no_tables_for_type_set: 'No sets'
no_tables_for_type_list: 'No lists'

alias_storage_not_writable: 'Directory "%directory%" is not writable'

headers:
    databases:
        database: 'Database'
        alias: 'Alias'
        keys: 'Keys'
        expires: 'Expires'
        avg_ttl: 'Avg TTL'
    keys:
        key: 'Key'
        value: 'Value'
        length: 'Length'
        number_of_keys: 'Number of keys'
    hashes:
        key: 'Key'
        number_of_fields: 'Number of fields'
    sets:
        key: 'Key'
        number_of_members: 'Number of members'
    lists:
        key: 'Key'
        number_of_elements: 'Number of elements'

database_form_header:
    edit: Edit database

table_form_header:
    hash:
        create: Create new hash
        edit: Edit hash
    key:
        create: Create new key
        edit: Edit key
    set:
        create: Create new set
        edit: Edit set
    list:
        create: Create new list
        edit: Edit list

item_form_header:
    hash:
        create: Create new key in hash
        edit: Edit key in hash
    key:
        create: Create new key
        edit: Edit key
    set:
        create: Add member to set
        edit: Edit member
    list:
        create: Add element to list
        edit: Edit element

table_type:
    hash:
        title: Hashes
        items:
            title: Keys
    key:
        title: Keys
        items:
            title: Keys
    set:
        title: Sets
        items:
            title: Members
    list:
        title: List
        items:
            title: Elements

columns:
    hash:
        key: Key
        length: Length
        value: Value
    key:
        key: Key
        length: Length
        value: Value
    set:
        member: Member
        length: Length
    list:
        index: Index
        element: Element
        length: Length

form:
    host:
        label: Host
    port:
        label: Port
    database:
        label: Database

database_form:
    database:
        label: Database
    alias:
        label: Alias
        description: Database alias will be shared for all users

key_form:
    key:
        label: Key
        required: Key is required
    value:
        label: Value
        required: Value is required

item_form:
    key:
        label: Key
        required: Key is required
    value:
        label: Value

member_form:
    member:
        label: Member
        required: Member is required
    message:
        cannot_be_removed: Member cannot be removed

hash_form:
    key:
        label: Key
        required: Key is required
    field:
        label: Field
        required: Field is required
    value:
        label: Value
        required: Value is required
    new_key:
        label: New key
        required: New key is required

set_form:
    key:
        label: Key
        required: Key is required
    members:
        label: Members
        required: Members are required
        description: Comma separated

list_form:
    key:
        label: Key
        required: Key is required
    elements:
        label: Elements
        required: Elements are required
        description: Comma separated

list_element_form:
    element:
        label: Element
        required: Element is required

database_select_control:
    database:
        label: Databases
        prompt: Select database

commands: Commands
