application:
	scanDirs: false
	errorPresenter: Error
	mapping:
		*: Adminerng\Presenters\*Presenter

services:
	router: Adminerng\Router\RouterFactory::createRouter
	translator:
		class: Adminerng\Core\Translator\Translator
		setup:
			- setDefaultLanguage('en')

	- Adminerng\Core\Translator\Storage\MemoryStorage
	- Adminerng\Core\Translator\Loader\NeonFileLoader(%appDir%/lang)
	- Adminerng\Core\Credentials\SessionStorageCredentials

	-
		class: Adminerng\Core\Driver\DriverStorage
		setup: 
			- add(Adminerng\Drivers\MySql\MySqlDriver())
			- add(Adminerng\Drivers\Redis\RedisDriver())
			- add(Adminerng\Drivers\Memcache\MemcacheDriver())
			- add(Adminerng\Drivers\RabbitMQ\RabbitMQDriver())

	formatter: Adminerng\Core\Helper\Formatter

	filterLoader:
		class: Adminerng\Core\Helper\FilterLoader
		setup:
			- register('formatNumber', [@formatter, formatNumber])
			- register('formatSize', [@formatter, formatSize])

	nette.latteFactory:
		setup:
			- addFilter(null, [@filterLoader, 'load'])
			- addFilter('translate', [@translator, 'translate'])
