application:
	mapping:
		*: Adminerng\Presenters\*Presenter

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

services:
	router: Adminerng\Router\RouterFactory::createRouter

	-
		class: Adminerng\Core\DriverStorage
		setup: 
			- add(Adminerng\Drivers\Redis\RedisDriver())
			- add(Adminerng\Drivers\Memcache\MemcacheDriver())
			- add(Adminerng\Drivers\Rabbit\RabbitDriver())
