name: Memcache

table_type:
	key:
		items:
			title: Kľúč|Kľúče|Kľúče

columns:
	key:
		key: Kľúč
		value: Hodnota
		size: Veľkosť
		expiration: 'Expirácia (s)'
		compressed: Komprimovaný

form:
	servers:
		label: Servery
		description: 'Každý server na nový riadok vo formáte: host:port'

key_form:
	key:
		label: Kľúč
		required: Kľúč je povinné pole
	value:
		label: Hodnota
		required: Hodnota je povinné pole
	compressed:
		label: Komprimovať
	expiration:
		label: 'Expirácia (s)'

database_select_control:
	database:
		label: Servery
		prompt: Vyberte server
