name: MySql

form:
	server:
		label: Server
	user:
		label: User
	password:
		label: Password
	database:
		label: Database

database_select_control:
	database:
		label: Databases
		prompt: Select database
