name: MySql

table_types_for_database: 'Tables and views for database %database%'
no_tables_for_database: 'No tables and views for database %database%'
no_tables_for_type_table: 'No tables'
no_tables_for_type_view: 'No views'

table_type:
	table:
		title: Tables
		items:
			title: Row|Rows
	view:
		title: Views
		items:
			title: Row|Rows

form:
	server:
		label: Server
	user:
		label: User
	password:
		label: Password
	database:
		label: Database

database_select_control:
	database:
		label: Databases
		prompt: Select database
