name: MySql

form:
	server:
		label: Server
	user:
		label: Používateľ
	password:
		label: Heslo
	database:
		label: Databáza

database_select_control:
	database:
		label: Databázy
		prompt: Vyberte databázu
