name: Rabbit

table_types_for_database: 'Queues for vhost %database%'
no_tables_for_database: 'No queues found for vhost %database%'
no_tables_for_type_queue: 'No queues'

table_type:
	queue:
		items:
			title: Message|Messages

columns:
	queue:
		message_body: Message body
		size: Size
		is_truncated: Is truncated?
		content_encoding: Content encoding
		redelivered: Was redelivered?

form:
	user:
		label: User
	password:
		label: Password
	host:
		label: Host
	port:
		label: Port
	rabbitmq_management_http_api_host:
		label: RabbitMQ Management HTTP API host
		description: rabbitmq_management plugin must be enabled
	rabbitmq_management_http_api_port:
		label: RabbitMQ Management HTTP API port
		description: rabbitmq_management plugin must be enabled

queue_form:
	queue:
		label: Queue
		required: Queue is required

message_form:
	message:
		label: Message
		required: Message is required

database_select_control:
	database:
		label: Vhosts
		prompt: Select vhost
