name: Rabbit

form:
	user:
		label: Používateľ
	password:
		label: Heslo
	host:
		label: Host
	port:
		label: Port
	rabbitmq_management_http_api_host:
		label: RabbitMQ Management HTTP API host
		description: rabbitmq_management plugin musí byť povolený
	rabbitmq_management_http_api_port:
		label: RabbitMQ Management HTTP API port
		description: rabbitmq_management plugin musí byť povolený
