name: Redis

table_types_for_database: 'Keys, hashes and sets for database %database%'
no_tables_for_database: 'No keys, hashes and sets found for database %database%'

table_type:
	hash:
		items:
			title: Keys
	key:
		items:
			title: Keys
	set:
		items:
			title: Members

form:
	host:
		label: Host
	port:
		label: Port
	database:
		label: Database

key_form:
	key:
		label: Key
		required: Key is required
	value:
		label: Value

item_form:
	key:
		label: Key
		required: Key is required
	value:
		label: Value

database_select_control:
	database:
		label: Databases
		prompt: Select database
