name: Redis

table_types_for_database: 'Keys, hashes and sets for database %database%'
no_tables_for_database: 'No keys, hashes and sets found for database %database%'
no_tables_for_type_key: 'No keys'
no_tables_for_type_hash: 'No hashes'
no_tables_for_type_set: 'No sets'

table_type:
	hash:
		items:
			title: Key|Keys
	key:
		items:
			title: Key|Keys
	set:
		items:
			title: Member|Members

columns:
	hash:
		key: Key
		length: Length
		value: Value
	key:
		key: Key
		length: Length
		value: Value
	set:
		member: Member
		length: Length

form:
	host:
		label: Host
	port:
		label: Port
	database:
		label: Database

key_form:
	key:
		label: Key
		required: Key is required
	value:
		label: Value
		required: Value is required

item_form:
	key:
		label: Key
		required: Key is required
	value:
		label: Value

member_form:
	member:
		label: Member
		required: Member is required
	message:
		cannot_be_removed: Member cannot be removed

hash_form:
	key:
		label: Key
		required: Key is required
	field:
		label: Field
		required: Field is required
	value:
		label: Value
		required: Value is required
	new_key:
		label: New key
		required: New key is required

set_form:
	key:
		label: Key
		required: Key is required
	members:
		label: Members
		required: Members are required
		description: Comma separated

database_select_control:
	database:
		label: Databases
		prompt: Select database
