name: Redis

table_types_for_database: 'Kľúče, hashe a sety pre databázu %database%'
no_tables_for_database: 'V datábáze %database% neboli nájdené žiadne kľúče, hashe ani sety'

table_type:
	hash:
		items:
			title: Kľúč|Kľúče|Kľúče
	key:
		items:
			title: Kľúč|Kľúče|Kľúče
	set:
		items:
			title: Prvok|Prvky|Prvky

form:
	host:
		label: Host
	port:
		label: Port
	database:
		label: Databáza

key_form:
	key:
		label: Kľúč
		required: Kľúč je povinné pole
	value:
		label: Hodnota

item_form:
	key:
		label: Kľúč
		required: Kľúč je povinné pole
	value:
		label: Hodnota

database_select_control:
	database:
		label: Databázy
		prompt: Vyberte databázu
